@model AGOC.Services.Pagination<AGOC.ViewModels.ParkingViewModels>

@{
    ViewData["Title"] = "إدارة المواقف";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">سجلات وقوف المركبات</h2>
    <form method="get" asp-action="Search" class="mb-3 p-3 border rounded" style="background-color: #f8f9fa;">
        <div class="form-row row g-3 align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="searchText" class="form-label">بحث برقم الموقف أو رقم الموظف</label>
                <input type="text" class="form-control" id="searchText" name="searchText" value="@ViewData["SearchText"]" placeholder="أدخل نص البحث" />
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 d-grid">
                <label class="form-label d-none d-md-block">&nbsp;</label>
                <button type="submit" class="btn btn-primary">بحث</button>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-start mb-3" style="float:left">
        <a href="@Url.Action("Create")" class="btn btn-primary">تخصيص موقف</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
@*                 <th>المركبة</th>
 *@                <th>رقم الموظف</th>
                <th>اسم الموظف</th>
                <th>رقم موقف السيارة</th>
                <th>التاريخ</th>
                <th class="text-center">الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parking in Model.Items)
            {
                <tr>
@*                     <td>@parking.LicensePlateNumber</td>
 *@                    <td>@parking.EmployeeCode</td>
                    <td>@parking.EmployeeName</td>
                    <td>@parking.ParkingSpotNumber</td>
                    <td>@parking.Date?.ToString("dd-MM-yyyy")</td>
                    <td class="text-center">
                        @* <a href="@Url.Action("Details", new { id = parking.Id })" class="btn btn-info btn-sm">تفاصيل</a> *@
                        <a href="@Url.Action("Edit", new { id = parking.Id })" class="btn btn-warning btn-sm">تعديل</a>
                        <button class="btn btn-danger btn-sm delete-button" data-id="@parking.Id">حذف</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("~/Views/Shared/PartialView/_Pagination.cshtml", Model)
</div>

<!-- نموذج تأكيد الحذف -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="confirmationModalLabel">تأكيد الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                هل انت متأكد من الحذف  ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteButton">نعم</button>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">لا</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var deleteAppointmentId;

        // Handle click on delete button to open modal
        $('.delete-button').click(function () {
            deleteAppointmentId = $(this).data('id');
            $('#deleteConfirmationModal').modal('show');
        });

        $(".close").click(function () {
            $('#deleteConfirmationModal').modal('hide');
        });

        // Handle click on confirm delete button
        $('#confirmDeleteButton').click(function () {
            $.ajax({
                url: '/Parking/DeleteConfirmed/' + deleteAppointmentId,
                type: 'POST',
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    $('#deleteConfirmationModal').modal('hide');
                    location.reload(); // Refresh page after deletion
                },
                error: function (xhr, status, error) {
                    alert('حدث خطأ أثناء محاولةالموقف.');
                    $('#deleteConfirmationModal').modal('hide');
                }
            });
        });
    });
</script>
