@using System.Globalization
@model AGOC.Services.Pagination<AGOC.ViewModels.TrafficViolationViewModel>

@{
    ViewData["Title"] = "المخالفات المرورية";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">المخالفات المرورية</h2>
    @await Html.PartialAsync("~/Views/Shared/PartialView/_SearchViolations.cshtml",
            new AGOC.ViewModels.SearchViewModel
    {
        SearchText = ViewData["SearchText"]?.ToString(),
        ViolationDate = ViewData["ViolationDate"] != null ? (DateTime?)Convert.ToDateTime(ViewData["ViolationDate"]) : null,
        IsPaid = ViewData["IsPaid"] != null ? Convert.ToInt32(ViewData["IsPaid"]) : (int?)null,
        EmployeeNumber = ViewData["EmployeeNumber"] != null ? Convert.ToInt32(ViewData["EmployeeNumber"]) : (int?)null,
    }
            )

    <div class="d-flex justify-content-start mb-3" style="float:left">
        <a href="@Url.Action("Create")" class="btn btn-primary">
            إضافة
            <svg class="svg-inline--fa fa-plus fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
        </a>

    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>رقم اللوحة</th>
                <th>رقم الموظف</th>
                <th>نوع المخالفة</th>
                <th>تاريخ المخالفة</th>
                <th>مبلغ الغرامة</th>
                <th>تم الدفع</th>
                <th class="text-center">الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var violation in Model.Items)
            {
                <tr>
                    <td>@violation.LicensePlateNumber</td>
                    <td>@violation.EmployeeNumber</td>
                    <td>@violation.ViolationType</td>
                    <td>@violation.ViolationDate?.ToString("yyyy-MM-dd")</td>
                    <td>@violation.FineAmount.ToString("#,##0 ر.ق")</td>
                    <td>
                        @if (violation.IsPaid == 1)
                        {
                            <span class="text-success">
                                <i class="fa fa-check-circle"></i> تم الدفع
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                <i class="fa fa-times-circle"></i> لم يتم دفعها
                            </span>
                        }
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", new { id = violation.Id })" class="btn btn-warning btn-sm mr-1">تعديل</a>
                        <button class="btn btn-danger btn-sm delete-button" data-id="@violation.Id">حذف</button>

                        <!-- New Button to call PaidViolations Action -->
                        <button type="button" class="btn btn-success btn-sm ml-1" data-id="@violation.Id" onclick="confirmPaid('@violation.Id')">تم الدفع</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("~/Views/Shared/PartialView/_Pagination.cshtml", Model)
</div>

<!-- نموذج تأكيد الحذف -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="confirmationModalLabel">تأكيد الحذف</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                هل انت متأكد من الحذف؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteButton">نعم</button>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">لا</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paidConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="paidConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title" id="paidConfirmationModalLabel">تأكيد العملية</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                هل أنت متأكد من الإجراء؟ سيتم وضع المخالفة كمدفوعة.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmPaidButton">نعم</button>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal">لا</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var deleteViolationId;

        // Handle click on delete button to open modal
        $('.delete-button').click(function () {
            deleteViolationId = $(this).data('id');
            $('#deleteConfirmationModal').modal('show');
        });

        $(".close").click(function () {
            $('#deleteConfirmationModal').modal('hide');
        });

        // Handle click on confirm delete button
        $('#confirmDeleteButton').click(function () {
            $.ajax({
                url: '/TrafficViolation/DeleteConfirmed/' + deleteViolationId,
                type: 'POST',
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    $('#deleteConfirmationModal').modal('hide');
                    location.reload(); // Refresh page after deletion
                },
                error: function (xhr, status, error) {
                    alert('حدث خطأ أثناء محاولة حذف المخالفة.');
                    $('#deleteConfirmationModal').modal('hide');
                }
            });
        });

    });
    function confirmPaid(violationId) {
        // Store the violation ID in the confirm button
        document.getElementById('confirmPaidButton').setAttribute('data-id', violationId);
        // Show the modal
        $('#paidConfirmationModal').modal('show');
    }

    // Handle the confirmation action
    document.getElementById('confirmPaidButton').addEventListener('click', function () {
        var violationId = this.getAttribute('data-id');
        window.location.href = '/TrafficViolation/PaidViolations/' + violationId;
    });
</script>
